.navbar-brand{
    background-color: #4aaaa5;
    color: white;
    padding: 10px 5px 0px 5px;
    height: 47px;
}
.navbar{
    /*padding: 0px 0px 0px 0px;
    margin-rignt: 25px;*/
    padding-top: 0px;
    padding-bottom: 0px;
}
.maincontainer{
    margin-top: 30px;
    border: 1px solid black;
   
}
.col-md-12 {
}
h1{
    color: #4aaaa5;
}
.row{
    margin-top: 5px;
    margin-bottom: 5px;
}
.col-md-3{
    margin-top: 10px;
}
input[type=submit] {
    font-size: 14pt;
    color: white;
    background-color: green;
}
.col-md-9{
    padding-top: 5px
}