.navbar-brand{
    background-color: #4aaaa5;
    color: white;
    padding: 10px 5px 0px 5px;
    height: 47px;
}
.navbar{
    /*padding: 0px 0px 0px 0px;
    margin-rignt: 25px;*/
    padding-top: 0px;
    padding-bottom: 0px;
}
.maincontainer{
    margin-top: 30px;
    border: 1px solid black;
   
}
.col-md-12 {
}
h1{
    color: #4aaaa5;
}
.row{
    margin-top: 5px;
    margin-bottom: 5px;
}
.col-md-3{
    margin-top: 10px;
}
input[type=submit] {
    font-size: 14pt;
    color: white;
    background-color: green;
}
.col-md-9{
    padding-top: 5px
}
.caption {
    width:100%;
    bottom: 0.3rem;
    position: absolute;
    background:#4aaaa5;
   /* background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
}

.caption h4 {
    color: #fff;
    -webkit-font-smoothing: antialiased;
}